# Sheet 3 - Practical Exercise

In [1]:
#Import packages and Dataset
import numpy as np
import pandas as pd

fifa20 = pd.read_csv("data/fifa_20.csv")#Change path according to your files

Take the following SQL-Queries and use Pandas to achieve the same result.

### First Query
```sql
SELECT short_name, overall, value_eur, wage_eur 
FROM fifa_20 
WHERE overall > 80 and club = 'Borussia Dortmund'
```

In [2]:
#Recreate the first query with pandas

### Second Query
```sql
SELECT short_name, overall 
FROM fifa_20 
WHERE club in ('Borussia Dortmund','FC Bayern MÃ¼nchen') and nationality = 'France'
```

In [3]:
#Recreate the second query with pandas

### Third Query
```sql
SELECT nationality, count(*) 
FROM fifa_20 
GROUP BY nationality 
ORDER BY count
```

In [4]:
#Recreate the third query with pandas

### Fourth Query
```sql
SELECT club, count(*) 
FROM fifa20 
WHERE potential > 85 
GROUP BY club having count(*) > 10
ORDER BY count(*) desc
```

In [5]:
#Recreate the fourth query with pandas

### Fifth Query
For the last query we create two additional dataframes that you have to join

In [6]:
#Do NOT change this code 
player_values = fifa20[['short_name','club','age','height_cm','weight_kg']]
fifa_club = fifa20[['short_name','club','overall','potential']]

```sql
SELECT short_name, age, overall 
FROM player_values JOIN fifa_club on fifa_club.short_name = player_values.short_name
WHERE fifa_club.club == 'Borussia Dortmund'
```

In [7]:
#Recreate the fifth query with pandas